<p id="notice"><%= notice %></p>

<h1>Listing Machine Learnings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @machine_learnings.each do |machine_learning| %>
      <tr>
        <td><%= machine_learning.name %></td>
        <td><%= link_to 'Show', machine_learning %></td>
        <td><%= link_to 'Edit', edit_machine_learning_path(machine_learning) %></td>
        <td><%= link_to 'Destroy', machine_learning, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Machine learning', new_machine_learning_path %>
