<h1>Listing Mls</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mls.each do |ml| %>
      <tr>
        <td><%= ml.name %></td>
        <td><%= link_to 'Show', ml %></td>
        <td><%= link_to 'Edit', edit_ml_path(ml) %></td>
        <td><%= link_to 'Destroy', ml, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ml', new_ml_path %>
